
<section class="container">
  <div class="row">
    <mat-card class="col-md-6" routerLink="/device-api">
      <mat-card-header>
        <div mat-card-avatar><mat-icon class="material-icons md-36">credit_card</mat-icon></div>
        <mat-card-title>Device Payment REST API</mat-card-title>
        <mat-card-subtitle>Embedded payment form on web page or in your app</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="card-picture" src="/assets/pil7.svg">
      <mat-card-content>Use Device Payment REST API to enable payments on a checkout form.</mat-card-content>
      <mat-card-actions align="right">
        <button mat-button routerLink="/device-api">OPEN</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="col-md-6">
      <a routerLink="">Payment Page</a>
    </mat-card>
    <mat-card class="col-md-6"><a routerLink="">Hosted with Client Side Encryption</a></mat-card>
    <mat-card class="col-md-6"><a routerLink="">Gateway API</a></mat-card>
  </div>
</section>
