
<header>
  <mat-toolbar color="primary"><a href="/">{{title}}</a></mat-toolbar>
</header>

<section class="container">
  <div class="row">
    <mat-card class="col-md-6">
      <a routerLink="/device-api" routerLinkActive="active">Device Payment REST API</a>
    </mat-card> <!-- we use mat-card instead of div -->
    <mat-card class="col-md-6">2</mat-card>
    <mat-card class="col-md-6 d-block d-lg-none">3</mat-card> <!-- will be hidden on large screens -->
    <mat-card class="col-md-6 d-block d-lg-none">4</mat-card>
  </div>
</section>
<div>
  <router-outlet></router-outlet>
</div>
<footer></footer>
